APP_NAME="lettersoup"
APP_ENV="production"
APP_PORT="8080"
APP_SUPPORT_EMAIL="support@lettersoup.com"
APP_VERSION="0.0.0"
APP_DESCRIPTION="Letter Soup Application"
ENABLE_LOG="true"
DEBUG_LOG="true"
TEMPLATES_PATH="/app/src/application/shared/templates/"

DB_HOST="db"
DB_PORT="5432"
DB_USER="lettersoup"
DB_PASSWORD="lettersoup"
DB_NAME="lettersoup"
DB_SSL="false"

REDIS_HOST="redis:6379"
REDIS_PASSWORD="secretPassword"
REDIS_DB="0"
REDIS_TTL="300"

JWT_SECRET="your_jwt_secret"
JWT_ISSUER="your_jwt_issuer"
JWT_AUDIENCE="your_jwt_audience"
JWT_ACCESS_TTL="3600"
JWT_REFRESH_TTL="86400"
JWT_CLOCK_SKEW="60"
MAIL_HOST="mailhog"
MAIL_PORT="1025"
MAIL_PASSWORD="password"
MAIL_FROM="noreply@lettersoup.com"