<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ahora puedes restaurar tu contraseña, {{.Name}}</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height:1.5;">
    <h2>¡Hola {{.Name}}!</h2>
    <p>
      Nos enteramos que perdiste tu contraseña de <b>{{.AppName}}</b>.
      Pero no te preocupes, para eso estamos nosotros 🚀.

    Haz clic en el siguiente enlace para restaurar tu contraseña:

    <a href="{{.ResetLink}}">{{.ResetLink}}</a>

    Recuerda que este enlace expirará en {{.ExpirationMinutes}} minutos.
    </p>
    <p>
      Si tienes alguna duda, puedes escribirnos a <a href="mailto:{{.SupportEmail}}">{{.SupportEmail}}</a>.
    </p>
    <hr>
    <small>© {{.AppName}} - Todos los derechos reservados</small>
  </body>
</html>
