<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ahora puedes restaurar tu contraseña, {{.Name}}</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height:1.5;">
    <h2>Hello {{.Name}}!</h2>
    <p>
      We heard that you lost your <b>{{.AppName}}</b> password.
      But don't worry, that's what we are here for 🚀.
    Click on the following link to reset your password:
    <a href="{{.ResetLink}}">{{.ResetLink}}</a>
    Remember that this link will expire in {{.ExpirationMinutes}} minutes.
    </p>
    <p>
        If you have any questions, you can write to us at <a href="mailto:{{.SupportEmail}}">{{.SupportEmail}}</a>.
    </p>
    <hr>
    <small>© {{.AppName}} - All rights reserved</small>

  </body>
</html>
